


.coba{
    z-index: 3;
    height: 200px;
    width: 200px;
    background: linear-gradient(
        lime

    );
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


}

.coba h3{
    text-align: center;

}
